Repository acm-ucr/robosub-website, pull requests merged in 2024-01, with the labels that each got.

#22 Implement button
  src/app/layout.js
  src/components/Button.jsx
  src/components/about/AboutTitle.jsx
  src/components/about/Info.jsx
  src/components/about/Team.jsx
  src/components/boards/Board.jsx
  src/components/home/HomeTitle.jsx
  src/components/home/InfoBox.jsx
  src/components/home/JoinIcon.jsx
  src/components/home/JoinTeam.jsx
  src/components/home/Support.jsx
  src/components/join/Quote.jsx
  src/components/vehicle/Video.jsx
  src/public/cat.png
  tailwind.config.js
Labels: home

#24 I created HomeTitle
  src/components/home/HomeTitle.jsx
Labels: Ready to review, home

#26 formatted joinicon
  src/components/home/JoinIcon.jsx
Labels: Ready to review, home

#29 Dylan/footer
  src/components/Footer.jsx
  src/data/footerLinks.js
  src/public/footer-blue-wave.svg
Labels: Ready to review, home, about, boards, vehicle, join, sponsors

#32 Implemented Info.jsx without border gradident
  src/components/about/Info.jsx
Labels: Ready to review, about

#33 i created a subtitle
  src/components/Subtitle.jsx
Labels: Ready to review, home

#34 Support
  src/app/page.js
  src/components/Button.jsx
  src/components/home/Support.jsx
Labels: Ready to review, home

#37 Infobox
  src/app/page.js
  src/components/home/InfoBox.jsx
Labels: home

#43 Implement JoinTeam.jsx #8
  src/components/home/JoinTeam.jsx
Labels: home

#42 made board
  src/app/about/page.js
  src/app/boards/page.js
  src/app/join/page.js
  src/app/page.js
  src/app/sponsors/page.js
  src/components/boards/Board.jsx
  src/components/home/HomeTitle.jsx
  src/components/home/Support.jsx
  src/public/sponsors.png
Labels: boards

#44 Team.jsx
  src/app/about/page.js
  src/components/about/Team.jsx
  src/data/team.js
Labels: Ready to review, about

#47 Branch eche003
  src/app/page.js
  src/components/home/JoinTeam.jsx
  src/components/home/JoinTeams.jsx
  src/data/joinTeam.js
Labels: home

#53 created leviathan video
  src/app/vehicles/page.js
  src/components/vehicle/Leviathan.jsx
  src/components/vehicle/Video.jsx
Labels: vehicle

#51 I created questions.js and Questions.jsx
  src/components/join/Questions.jsx
  src/data/questions.js
Labels: Ready to review, join

#49 Implemented AboutTitle.jsx
  src/app/about/page.js
  src/components/about/AboutTitle.jsx
Labels: Ready to review, about

#69 team.jsx and info.jsx mobile responsivenes
  src/components/about/Info.jsx
  src/components/about/Team.jsx
Labels: Ready to review, about

#68 HomeTitle.jsx and AboutTitle.jsx mobile responsiveness
  src/components/about/AboutTitle.jsx
  src/components/home/HomeTitle.jsx
Labels: Ready to review

#73 mprove Mobile Responsiveness for JoinTeams.jsx
  src/components/home/JoinTeams.jsx
Labels: home

#71 Infobox Mobile
  src/components/home/InfoBox.jsx
  src/components/home/JoinTeam.jsx
  src/components/home/JoinTeams.jsx
Labels: Ready to review, home, Fix Requires

#74 added NavBar
  src/app/layout.js
  src/components/NavBar.jsx
  src/data/navigation.js
Labels: Ready to review, home, about, boards, vehicle, join, sponsors

#88 improved mobile responsiveness for PageTitle.jsx
  src/components/PageTitle.jsx
Labels: boards, vehicle, join

#87 2xl view for about page components
  src/app/about/page.js
  src/components/about/AboutTitle.jsx
  src/components/about/Info.jsx
  src/components/about/Team.jsx
Labels: Ready to review, about
