Repository acm-ucr/robosub-website, pull requests merged in 2024-02, with the labels that each got.

#93 fixed join component mobile responsiveness format
  src/components/join/Questions.jsx
  src/components/join/Quote.jsx
  src/components/join/Quotes.jsx
Labels: Ready to review, join

#98 NavBar and Footer 2xl
  src/components/Footer.jsx
  src/components/NavBar.jsx
Labels: Ready to review

#99 2xl format
  src/components/home/HomeTitle.jsx
  src/components/home/InfoBox.jsx
Labels: Ready to review, home

#103 Improve 2-xl screen view for Board Page
  src/app/boards/page.js
  src/components/PageTitle.jsx
  src/components/boards/Board.jsx
Labels: Ready to review, boards

#100 2xl view for join page text and components
  src/app/join/page.js
  src/components/Button.jsx
  src/components/join/Questions.jsx
  src/components/join/Quote.jsx
Labels: Ready to review, join

#104 support.jsx / joinIcon.jsx - 2xl update.
  src/components/home/JoinIcon.jsx
  src/components/home/Support.jsx
Labels: home

#102 improved 2xl screen view for Subtitile and JoinTeam components
  src/app/page.js
  src/components/Button.jsx
  src/components/Footer.jsx
  src/components/NavBar.jsx
  src/components/Subtitle.jsx
  src/components/home/JoinIcon.jsx
  src/components/home/JoinIcons.jsx
  src/components/home/JoinTeam.jsx
  src/components/home/JoinTeams.jsx
  src/components/home/Support.jsx
Labels: Ready to review, home

#108 Sponsor 2xl
  src/app/sponsors/page.js
  src/components/sponsors/SponsorTitle.jsx
Labels: sponsors

#107 Sponssor mo
  src/app/sponsors/page.js
  src/components/sponsors/SponsorTitle.jsx
Labels: sponsors, Fix Requires

#125 added animation to About title page
  src/components/about/AboutTitle.jsx
Labels: Ready to review, about, Animation

#124 added animation for team.jsx
  src/components/about/Team.jsx
Labels: Ready to review, about

#126 I added animation to Board.jsx
  src/components/boards/Board.jsx
Labels: Ready to review, Animation

#127 Added animation to Info.jsx
  src/components/about/Info.jsx
Labels: Ready to review, about, Animation

#128 added animation for the Pagetitle.jsx
  src/components/PageTitle.jsx
Labels: boards

#129 added Questions and Quotes animation
  src/components/join/Questions.jsx
  src/components/join/Quote.jsx
  src/components/join/Quotes.jsx
  src/data/questions.js
  src/data/quotes.js
Labels: Ready to review, join, Animation

#131 i created a transition for sponsor title
  src/components/sponsors/SponsorTitle.jsx
Labels: sponsors, Animation

#123 Animation for Infobox
  src/components/home/InfoBox.jsx
Labels: home, Animation
